ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

#article1{
    float: left;
    max-height: 200px ;
    margin: 10;
    padding: 1em;
}

div.container {
    width: 100%;
    border: 1px solid gray;
    
}

table {
    margin-top: 30px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

#red{
    background-color: red;
}
#blue{
    background-color: lightblue;
}
#green{
    background-color: green;
}
#black
{
    background-color: black;
    color: white;
}
#white
{
    background-color: white;
}
#lightG
{
    background-color: lightgreen;
}